body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #66616d;
  background-color: #e3e8ed;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 16px;
  color: white;
}

h2 {
  font-size: 18px;
  font-weight: 200;
  color: white;
}

a {
  color: #6667ab;
}

.Box {
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
  max-width: 80%;
  min-width: min-content;
  border-radius: 30px;
  background-color: white;
}

.Box.Search {
  margin-top: 20px;
  padding: 10px;
}

.Box.Main {
  padding: 20px;
  padding-bottom: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.search-form {
  margin: 0 auto;
}

.button,
.search {
  display: inline-block;
  border-color: #6667ab;
  color: #6667ab;
  background-color: white;
  border: #6667ab 1px solid;
  padding: 6px;
  border-radius: 4px;
}
.search {
  border: #b0aeb6 1px solid;
  margin-right: 2px;
  width: 60%;
  outline: none;
}

.location-button {
  margin-left: 20px;
  color: #e3e8ed;
  background-color: #6667ab;
}

.button:hover {
  background-color: #6667ab;
  border: #6667ab 1px solid;
  color: white;
  transition: ease-in-out 200ms all;
}

.location-button:hover {
  background-color: white;
  border: #6667ab 1px solid;
  color: #6667ab;
  transition: ease-in-out 200ms all;
}

.header-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}

.city,
.current-icon,
.current-temperature,
.current-state {
  color: white;
  font-weight: 500;
}

.current-icon,
.current-temperature {
  font-size: 70px;
}

.weather-test {
  position: relative;
  top: 30px;
  left: -30px;
  float: left;
  display: block;
  width: 350px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  background: #6667ab;
  color: white;
  opacity: 95%;
}

.unit {
  font-size: 18px;
  position: relative;
  top: -25px;
}

.current-high {
  font-weight: 600;
}

.upcoming-grid {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border: #66616d solid 0px;
}

.forecast-day,
.forecast-temp-high,
.forecast-temp-low {
  font-size: 14px;
}

.forecast-temp-high {
  font-weight: 600;
}

.icons {
  font-size: 30px;
  padding: 15px 0;
}

.footer {
  font-size: 12px;
}
