:root {
  --main-color: #9fc8e1;
  --secondary-color: #5bab7a;
  --third-color: #f9ad11;
  --fourth-color: #ff543f;
  --fifth-color: #b97442;
  --light-color: #fff8e7;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f4f2f2;
}

h1,
h2 {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 5px;
}

h2 {
  font-size: 14px;
  font-weight: 300;
}

a {
  color: var(--fourth-color);
  text-decoration: none;
}

a:hover {
  color: var(--fifth-color);
  transition: all ease-in-out 150ms;
}

p {
  margin-bottom: 0;
  font-size: 14px;
}

.box {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 1000px;
  min-width: 900px;
  border-radius: 30px;
  padding: 30px;
  background-color: white;
}

.search-form {
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 25px;
}

.search-input,
.search-button {
  border-radius: 4px;
  border: none;
  padding: 5px;
  font-size: 14px;
}

.search-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  width: 300px;
}

.search-button {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--third-color);
  color: white;
  font-weight: 200;
}

input::placeholder {
  font-weight: 200;
  padding-left: 5px;
}

.title-section {
  width: 50%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 30px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0;
  background: var(--third-color);
}

.title-text {
  width: 100%;
  color: white;
}

.unit-section {
  height: 0;
}

.celsius,
.fahrenheit {
  text-decoration: none;
  position: relative;
  top: -38px;
  left: 37%;
  padding: 4px;
  width: 65px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 20px;
  color: white;
  font-weight: 300;
  border: none;
  background-color: var(--third-color);
}

.active-unit {
  background-color: var(--light-color);
  color: black;
}

.weather-section {
  margin: 0 auto;
  border-radius: 30px;
  border-top-left-radius: 0;
  color: black;
  padding: 10px;
  background: var(--light-color);
}

.weather-image {
  max-height: 250px;
}

.current-center {
  padding-top: 35px;
}

.current-temperature {
  font-weight: 400;
  font-size: 60px;
}

.current-unit {
  font-size: 18px;
  position: relative;
  top: -32px;
}

.current-description {
  font-size: 20px;
  margin-bottom: 15px;
}

.high-low {
  font-size: 18px;
}

.temperature-high {
  font-weight: 600;
}

.current-right {
  height: 100%;
  margin-top: 10px;
}

.weather-detail {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  margin: 10px;
  margin-left: 0;
  width: 90%;
}

.weather-stat {
  font-size: 16px;
  font-weight: 500;
}

.forecast-section {
  display: flex;
  justify-content: space-between;
  margin: 1px;
}

.forecast-box {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  color: white;
}

.forecast-box.one {
  background: var(--main-color);
}
.forecast-box.two {
  background: var(--secondary-color);
}
.forecast-box.three {
  background: var(--third-color);
}
.forecast-box.four {
  background: var(--fourth-color);
}
.forecast-box.five {
  background: var(--fifth-color);
}

.forecast.day {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
}

.forecast-icon {
  font-size: 25px;
  padding-bottom: 15px;
}

.forecast-high-low {
  font-size: 18px;
}

.footer {
  font-size: 12px;
}
